# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh eol=lf
*.ps1 eol=lf
*.js eol=lf
*.jsx eol=lf
*.ts eol=lf
*.tsx eol=lf
*.vue eol=lf
*.yml eol=lf
*.yaml eol=lf
*.md eol=lf
Dockerfile eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
